<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- Basic Page Needs
    ================================================== -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>lorenzifra</title>

        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">

        <!-- Mobile Specific Metas
    ================================================== -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0,
            maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- Stylesheets
    ================================================== -->
        <!-- Custom styles for this template -->
        <link href="../../assets/main.css" rel="stylesheet">

    </head>
    <body>

        <h1 class="post-header">
            Generazione di numeri casuali
            <hr>
        </h1>
        
        <div class="post-content">
            In equation \eqref{eq:sample}, we find the value of an
interesting integral:

\begin{equation}
  \int_0^\infty \frac{x^3}{e^x-1}\,dx = \frac{\pi^4}{15}
  \label{eq:sample}
\end{equation}
        </div>
    </body>
</html>


<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
     jax: ["input/TeX", "output/HTML-CSS"],
     tex2jax: {
       inlineMath: [[ '$','$']],
       displayMath:  [['$$','$$']],
       processEscapes: true
     },
     "HTML-CSS": { availableFonts: ["TeX"] }
    });
</script> 
  
<script type="text/javascript"          
   src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js">
</script>
